[submodule "pack/utils/start/colorful-menu.nvim"]
	path = pack/utils/start/colorful-menu.nvim
	url = https://github.com/xzbdmw/colorful-menu.nvim
[submodule "pack/utils/start/nvim-spider"]
	path = pack/utils/start/nvim-spider
	url = https://github.com/chrisgrieser/nvim-spider
[submodule "pack/utils/start/oil.nvim"]
	path = pack/utils/start/oil.nvim
	url = https://github.com/stevearc/oil.nvim
[submodule "pack/utils/start/nvim-colorizer.lua"]
	path = pack/utils/start/nvim-colorizer.lua
	url = https://github.com/catgoose/nvim-colorizer.lua.git
[submodule "pack/utils/start/nvim-ufo"]
	path = pack/utils/start/nvim-ufo
	url = https://github.com/kevinhwang91/nvim-ufo
[submodule "pack/utils/start/promise-async"]
	path = pack/utils/start/promise-async
	url = https://github.com/kevinhwang91/promise-async
[submodule "pack/utils/start/lualine.nvim"]
	path = pack/utils/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim
[submodule "pack/utils/start/dashboard-nvim"]
	path = pack/utils/start/dashboard-nvim
	url = https://github.com/nvimdev/dashboard-nvim
[submodule "pack/utils/start/header.nvim"]
	path = pack/utils/start/header.nvim
	url = https://github.com/attilarepka/header.nvim
[submodule "pack/utils/start/hardtime.nvim"]
	path = pack/utils/start/hardtime.nvim
	url = https://github.com/m4xshen/hardtime.nvim
[submodule "pack/utils/start/tokyonight.nvim"]
	path = pack/utils/start/tokyonight.nvim
	url = https://github.com/folke/tokyonight.nvim
[submodule "pack/utils/start/nightfox.nvim"]
	path = pack/utils/start/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim
[submodule "pack/utils/start/flexoki-neovim"]
	path = pack/utils/start/flexoki-neovim
	url = https://github.com/kepano/flexoki-neovim
[submodule "pack/utils/start/kanso.nvim"]
	path = pack/utils/start/kanso.nvim
	url = https://github.com/webhooked/kanso.nvim
[submodule "pack/utils/start/nvim-lspconfig"]
	path = pack/utils/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/utils/start/lsp_signature.nvim"]
	path = pack/utils/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "pack/utils/start/render-markdown.nvim"]
	path = pack/utils/start/render-markdown.nvim
	url = https://github.com/MeanderingProgrammer/render-markdown.nvim.git
[submodule "javascript"]
	path = parsers/javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript.git
[submodule "parsers/java"]
	path = parsers/java
	url = https://github.com/tree-sitter/tree-sitter-java.git
[submodule "parsers/query"]
	path = parsers/query
	url = https://github.com/tree-sitter-grammars/tree-sitter-query.git
[submodule "parsers/html"]
	path = parsers/html
	url = https://github.com/tree-sitter/tree-sitter-html.git
[submodule "parsers/css"]
	path = parsers/css
	url = https://github.com/tree-sitter/tree-sitter-css.git
[submodule "pack/utils/start/which-key.nvim"]
	path = pack/utils/start/which-key.nvim
	url = https://github.com/folke/which-key.nvim.git
[submodule "pack/utils/start/guard.nvim"]
	path = pack/utils/start/guard.nvim
	url = https://github.com/nvimdev/guard.nvim.git
[submodule "pack/utils/start/guard-collection"]
	path = pack/utils/start/guard-collection
	url = https://github.com/nvimdev/guard-collection.git
[submodule "pack/utils/start/conform.nvim"]
	path = pack/utils/start/conform.nvim
	url = https://github.com/stevearc/conform.nvim.git
[submodule "pack/utils/start/nvim-web-devicons"]
	path = pack/utils/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "pack/utils/start/gitsigns.nvim"]
	path = pack/utils/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
